
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.open-modal {
  padding: 20px 30px;
  background: #e64398;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.open-modal:hover {
  background: #f172a1;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;;
  background: rgba(0, 0, 0, .7);
  overflow: auto;
  z-index: 10;
  display: none;
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}

/* hack for centering modal without aboslute positioning */
.overlay:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.05em;
}
.modal {
  display: none;
  vertical-align: middle;
  max-width: 480px;
  min-height: 240px;
  padding: 20px;
  width: 90%;
  background: #fff;
  position: relative;
  text-align: left;
  z-index: 20;
  border-radius: 7px;
  box-shadow: 0 0 5px #000;
  box-sizing: border-box;

}

.close-modal {
  position: absolute;
  right: -18px;
  top: -18px;
  width: 36px;
  height: 36px;
  background: #e64398;
  border-radius: 7px;
}
.close-modal:hover {
  background: #f172a1;
}
.close-modal::before,
.close-modal::after {
  content: '';
  position: absolute;
  left: 17px;
  top: 6px;
  height: 25px;
  width: 2px;
  background-color: #fff;
}
.close-modal::before {
  transform: rotate(45deg);
}
.close-modal::after {
  transform: rotate(-45deg);
}

.active {
  display: inline-block;
}